<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <title>Login Application</title>
</head>
<body>
  <% if(alerts.success){ %> <% alerts.success.forEach(function(msg){ %>
  <div class="alert alert-success">
    <%= msg %>
  </div>
  <% }); %> <% } %> <% if(alerts.error){ %> <%
    alerts.error.forEach(function(msg){ %>
  <div class="alert alert-danger">
    <%= msg %>
  </div>
  <% }); %> <% } %> <% if(alerts.autherror){ %> <%
    alerts.autherror.forEach(function(msg){ %>
  <div class="alert alert-danger">
    Your <%= msg.param %> has <%= msg.msg %>
  </div>
  <% }); %> <% } %>
  <header class="layoutheader">
    <div class="container">
      <h1 class="logo"><a href="/">GOOD READERS </a></h1>
      <nav>
        <ul class="navigation">
          
          <% if(currentUser) {%>
          <li> <a href="/profile"><%= currentUser.firstname %>'s Profile</a> </li>
          <li> <a href="/book">Books</a></li>
          <li> <a href="/quote">Quotes</a></li>

          <li> <a href="/auth/setting">Setting</a></li>
          <li> <a href="/auth/logout">Signout</a></li>
          <%} %> <% if(!currentUser) {%>
          <li>
            <a href="/auth/signin">Signin</a> </li>
          <li> <a href="/auth/signup">Signup</a></li>
          <%} %>
        </ul>
      </nav>
    </div>
  </header>

  <%- body %>


  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="/js/book.js"></script>

    
 
</body>

</html>

