<link rel="stylesheet" href="/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<br> <br> <br>
    <h1 class="qh1">   </h1>
    <div class="qouteindex">
        <% books.forEach(function(book){ %>
    <div class="center">
        <div class="property-card">
          <a href="<%= book.booklink %>">
            <div>
                 <img class="property-image" src="<%= book.imageupload %>">
            </div>
          </a>
          <div class="property-description">
            <p class="qp">  <%= book.description %>  <br> <br>Pages: <%= book.pagesCount %> </p>
            <h2 class="qh2">   <%= book.bookUser %> </h2>
          </div>
        </div>
    </div>
      <% }) %>
    </div>