<h1>Books Page</h1>
<div>
    <% books.forEach(function(book){ %>
        <div> <img src="<%= book.imageupload %>" height="200px" width="150px"></div>
        <div>
            <a href="/book/<%= book._id%>"><%= book.bookName %></a>
        </div>
        <div> description: <%= book.description %></div>
        <div> pagesCount: <%= book.pagesCount %></div>
<hr>

        <div>Created On: <%= moment(book.createdAt).fromNow() %></div>
        <div>
            <form method="POST" 
            action="/book/<%= book._id %>/delete?_method=DELETE">
        <button type="submit">Delete Book</button>
        </form>
        </div>
   <% }) %>
</div>